In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import shutil

In [3]:
df = pd.read_csv('../data/resized/meta.txt',sep=';')

In [4]:
x = df.file_name
y = df.order

In [5]:
xtrain_val,xtest,ytrain_val,ytest = train_test_split(x,y,test_size = .1)

In [6]:
xtrain,xval,ytrain,yval = train_test_split(x,y)

In [10]:
for x,y in zip(xtrain,ytrain):
    s = '../data/resized/{}'.format(x)
    d = '../data/train/{}'.format(x)
    shutil.move(s,d)

In [ ]:
order_dict = {'Stoneflies (Plecoptera)':'Plecoptera','Plecoptera (Stoneflies)':'Plecoptera',
'Mayflies (Ephemeroptera)':'Ephemeroptera','Ephemeroptera (Mayflies)':'Ephemeroptera',
'Caddisflies (Trichoptera)':'Trichoptera','Trichoptera (Caddisflies)':'Trichoptera',
'Diptera (True Flies)':'Diptera','Flies (Diptera)':'Diptera'}
order_list = []
for i in df.order:
    order_list.append(order_dict[i])
df.order = order_list

In [13]:
with open('../data/train/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xtrain,ytrain):
        f.write(x+','+order_dict[y]+'\n')

In [17]:
df.tail()

,file_name,file_path,ready,back_view,side_view,ruler,hand_nature,m_adult,contrast,noisy_background,other_partial,order,family
5598,picture2992.jpg,../data/troutnut/ephemeroptera/picture2992.jpg,0,0,1,0,0,1,1,0,0,Ephemeroptera,Leptophlebiidae (Blue Quills and Mahogany Duns)
5599,picture2996.jpg,../data/troutnut/ephemeroptera/picture2996.jpg,0,0,1,0,0,1,0,0,1,Ephemeroptera,Leptophlebiidae (Blue Quills and Mahogany Duns)
5600,picture2998.jpg,../data/troutnut/ephemeroptera/picture2998.jpg,0,0,1,0,0,1,0,1,1,Ephemeroptera,Leptophlebiidae (Blue Quills and Mahogany Duns)
5601,picture2991.jpg,../data/troutnut/ephemeroptera/picture2991.jpg,0,0,1,0,0,1,1,1,0,Ephemeroptera,Leptophlebiidae (Blue Quills and Mahogany Duns)
5602,picture2997.jpg,../data/troutnut/ephemeroptera/picture2997.jpg,0,0,1,0,0,1,0,1,1,Ephemeroptera,Leptophlebiidae (Blue Quills and Mahogany Duns)

In [18]:
df.order.unique()

array(['Plecoptera', 'Trichoptera', 'Diptera', 'Ephemeroptera'], dtype=object)