In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import shutil
import os

In [2]:
df = pd.read_csv('../data/meta.txt',sep=';')

In [3]:
df.head()

,file_name,file_path,ready,back_view,side_view,ruler,hand_nature,m_adult,contrast,noisy_background,partial,order,family
0,photo_98089.jpg,../data/bug_guide/plecoptera/photo_98089.jpg,1,0,0,0,0,0,0,0,0,Stoneflies (Plecoptera),Winter Stoneflies (Taeniopterygidae)
1,photo_255771.jpg,../data/bug_guide/plecoptera/photo_255771.jpg,1,0,0,0,0,0,0,0,0,Stoneflies (Plecoptera),Winter Stoneflies (Taeniopterygidae)
2,photo_255991.jpg,../data/bug_guide/plecoptera/photo_255991.jpg,0,0,0,0,0,0,0,1,0,Stoneflies (Plecoptera),Winter Stoneflies (Taeniopterygidae)
3,photo_258045.jpg,../data/bug_guide/plecoptera/photo_258045.jpg,1,0,0,0,0,0,0,0,0,Stoneflies (Plecoptera),Small Winter Stoneflies (Capniidae)
4,photo_654326.jpg,../data/bug_guide/plecoptera/photo_654326.jpg,0,0,0,0,1,0,0,1,0,Stoneflies (Plecoptera),Spring Stoneflies (Nemouridae)

In [79]:
df.shape

(5603, 13)

In [80]:
order_dict = {'Stoneflies (Plecoptera)':'Plecoptera','Plecoptera (Stoneflies)':'Plecoptera',
'Mayflies (Ephemeroptera)':'Ephemeroptera','Ephemeroptera (Mayflies)':'Ephemeroptera',
'Caddisflies (Trichoptera)':'Trichoptera','Trichoptera (Caddisflies)':'Trichoptera',
'Diptera (True Flies)':'Diptera','Flies (Diptera)':'Diptera'}
order_list = []
for i in df.order:
    order_list.append(order_dict[i])
df.order = order_list

In [81]:
df = df[df.order == 'Ephemeroptera']

In [82]:
family_dict = {
                'Common Burrower Mayflies (Ephemeridae)':'Ephemeridae',
                'Ephemeridae (Hexes and Big Drakes)':'Ephemeridae',
                'Spiny Crawler Mayflies (Ephemerellidae)':'Ephemerellidae',
                'Ephemerellidae (Hendricksons, Sulphurs, PMDs, BWOs)':'Ephemerellidae',
                'Flatheaded Mayflies (Heptageniidae)':'Heptageniidae',
                'Heptageniidae (March Browns, Cahills, Quill Gordons)':'Heptageniidae',
                'Small Minnow Mayflies (Baetidae)':'Baetidae',
                'Baetidae (Blue-Winged Olives)':'Baetidae',
                'Small Squaregilled Mayflies (Caenidae)':'Caenidae',
                "Caenidae (Angler's Curses)":'Caenidae',
                'Little Stout Crawler Mayflies (Leptohyphidae)':'Leptohyphidae',
                'Leptophlebiidae (Blue Quills and Mahogany Duns)':'Leptohyphidae',
                'Pale Burrower Mayflies (Polymitarcyidae)':'Polymitarcyidae',
                'Armored Mayflies (Baetiscidae)':'Baetiscidae',
                'Baetiscidae (Armored Mayflies)':'Baetiscidae',
                'Riverbed Burrower Mayflies (Palingeniidae)':'Palingeniidae',
                'Hacklegilled Burrower Mayflies (Potamanthidae)':'Potamanthidae',
                'Pronggilled Mayflies (Leptophlebiidae)':'Leptophlebiidae',
                'Isonychiidae (Slate Drakes)':'Isonychiidae',
                'Ameletidae (Brown Duns)':'Ameletidae',
                'Siphlonuridae (Gray Drakes)':'Siphlonuridae',
                'Metretopodidae (Pseudo-Gray Drakes)':'Metretopodidae',
                'Neoephemeridae':'Neoephemeridae',
                'Leptohyphidae (Tricos)':'Leptohyphidae',
                'nan':'nan'
              }
family_list = []
for i in df.family.astype(str):
    family_list.append(family_dict[i])
df.family = family_list

In [83]:
df.head()

,file_name,file_path,ready,back_view,side_view,ruler,hand_nature,m_adult,contrast,noisy_background,partial,order,family
2119,photo_238799.jpg,../data/bug_guide/plecoptera/photo_238799.jpg,0,0,0,0,0,0,0,1,0,Ephemeroptera,Ephemeridae
2120,photo_268284.jpg,../data/bug_guide/plecoptera/photo_268284.jpg,0,0,0,0,0,0,0,1,0,Ephemeroptera,Ephemerellidae
2121,photo_698790.jpg,../data/bug_guide/plecoptera/photo_698790.jpg,0,0,0,0,1,0,1,1,0,Ephemeroptera,Heptageniidae
2122,photo_762232.jpg,../data/bug_guide/plecoptera/photo_762232.jpg,0,0,1,0,1,0,1,0,0,Ephemeroptera,Heptageniidae
2123,photo_971406.jpg,../data/bug_guide/plecoptera/photo_971406.jpg,0,0,0,0,0,0,0,1,0,Ephemeroptera,Heptageniidae

In [56]:
family_counts = np.unique(df.family,return_counts=True)
a = np.flip(np.argsort(family_counts[1]),axis=0)
print(family_counts[0][a],family_counts[1][a])

['Ephemerellidae' 'Heptageniidae' 'Ephemeridae' 'Baetidae' 'Leptohyphidae'
 'Baetiscidae' 'Isonychiidae' 'Caenidae' 'Leptophlebiidae' 'Metretopodidae'
 'Siphlonuridae' 'Ameletidae' 'nan' 'Polymitarcyidae' 'Palingeniidae'
 'Potamanthidae' 'Neoephemeridae'] [761 681 297 266 227 108  79  53  40  36  36  35  18   5   4   4   3]

In [57]:
family_list = ['Ephemerellidae', 'Heptageniidae', 'Ephemeridae', 'Baetidae', 'Leptohyphidae']

In [58]:
b = [i in family_list for i in df.family]

In [67]:
df.head()
x = df[b].file_name
y = df[b].family

In [69]:
xtrain_val,xtest,ytrain_val,ytest = train_test_split(x,y,test_size = .1)

In [70]:
ytrain_val.shape

(2008,)

In [71]:
xtrain,xval,ytrain,yval = train_test_split(xtrain_val,ytrain_val)

In [73]:
with open('../data/train2/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xtrain,ytrain):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/train2/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [74]:
with open('../data/test2/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xtest,ytest):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/test2/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [75]:
with open('../data/validation2/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xval,yval):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/validation2/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [5]:
order_dict = {'Stoneflies (Plecoptera)':'Plecoptera','Plecoptera (Stoneflies)':'Plecoptera',
'Mayflies (Ephemeroptera)':'Ephemeroptera','Ephemeroptera (Mayflies)':'Ephemeroptera',
'Caddisflies (Trichoptera)':'Trichoptera','Trichoptera (Caddisflies)':'Trichoptera',
'Diptera (True Flies)':'Diptera','Flies (Diptera)':'Diptera'}
order_list = []
for i in df.order:
    order_list.append(order_dict[i])
df.order = order_list

In [6]:
df.order.unique()

array(['Plecoptera', 'Trichoptera', 'Diptera', 'Ephemeroptera'], dtype=object)

In [7]:
df.head()

,file_name,file_path,ready,back_view,side_view,ruler,hand_nature,m_adult,contrast,noisy_background,partial,order,family
0,photo_98089.jpg,../data/bug_guide/plecoptera/photo_98089.jpg,1,0,0,0,0,0,0,0,0,Plecoptera,Winter Stoneflies (Taeniopterygidae)
1,photo_255771.jpg,../data/bug_guide/plecoptera/photo_255771.jpg,1,0,0,0,0,0,0,0,0,Plecoptera,Winter Stoneflies (Taeniopterygidae)
2,photo_255991.jpg,../data/bug_guide/plecoptera/photo_255991.jpg,0,0,0,0,0,0,0,1,0,Plecoptera,Winter Stoneflies (Taeniopterygidae)
3,photo_258045.jpg,../data/bug_guide/plecoptera/photo_258045.jpg,1,0,0,0,0,0,0,0,0,Plecoptera,Small Winter Stoneflies (Capniidae)
4,photo_654326.jpg,../data/bug_guide/plecoptera/photo_654326.jpg,0,0,0,0,1,0,0,1,0,Plecoptera,Spring Stoneflies (Nemouridae)

In [8]:
np.where(df.partial != 1)[0].shape

(5092,)

In [9]:
df.iloc[np.where(df.partial != 1)[0]].shape

(5092, 13)

In [10]:
df = df.iloc[np.where(df.partial != 1)[0]]

In [11]:
x = df.file_name
y = df.order

In [12]:
xtrain_val,xtest,ytrain_val,ytest = train_test_split(x,y,test_size = .1,random_state=77)

In [13]:
xtrain_val.head()

1721    photo_990553.jpg
460     photo_517331.jpg
822     photo_363659.jpg
1200    photo_752908.jpg
635     photo_842999.jpg
Name: file_name, dtype: object

In [14]:
xtrain,xval,ytrain,yval = train_test_split(xtrain_val,ytrain_val,random_state = 42)

In [15]:
with open('../data/train/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xtrain,ytrain):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/train/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [16]:
with open('../data/validation/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xval,yval):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/validation/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [17]:
with open('../data/test/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xtest,ytest):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/test/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [18]:
df_val = pd.read_csv('../data/validation/xy.txt',sep=',')
df_train = pd.read_csv('../data/train/xy.txt',sep=',')
df_test = pd.read_csv('../data/test/xy.txt',sep=',')

In [22]:
print(df_val.shape, df_train.shape, df_test.shape)

(1146, 2) (3436, 2) (510, 2)