In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import shutil
import os

In [15]:
df = pd.read_csv('../data/meta.txt',sep=';')

In [16]:
df.head()

,file_name,file_path,ready,back_view,side_view,ruler,hand_nature,m_adult,contrast,noisy_background,partial,order,family
0,photo_98089.jpg,../data/bug_guide/plecoptera/photo_98089.jpg,1,0,0,0,0,0,0,0,0,Stoneflies (Plecoptera),Winter Stoneflies (Taeniopterygidae)
1,photo_255771.jpg,../data/bug_guide/plecoptera/photo_255771.jpg,1,0,0,0,0,0,0,0,0,Stoneflies (Plecoptera),Winter Stoneflies (Taeniopterygidae)
2,photo_255991.jpg,../data/bug_guide/plecoptera/photo_255991.jpg,0,0,0,0,0,0,0,1,0,Stoneflies (Plecoptera),Winter Stoneflies (Taeniopterygidae)
3,photo_258045.jpg,../data/bug_guide/plecoptera/photo_258045.jpg,1,0,0,0,0,0,0,0,0,Stoneflies (Plecoptera),Small Winter Stoneflies (Capniidae)
4,photo_654326.jpg,../data/bug_guide/plecoptera/photo_654326.jpg,0,0,0,0,1,0,0,1,0,Stoneflies (Plecoptera),Spring Stoneflies (Nemouridae)

In [17]:
df.shape

(5603, 13)

In [24]:
order_dict = {'Stoneflies (Plecoptera)':'Plecoptera','Plecoptera (Stoneflies)':'Plecoptera',
'Mayflies (Ephemeroptera)':'Ephemeroptera','Ephemeroptera (Mayflies)':'Ephemeroptera',
'Caddisflies (Trichoptera)':'Trichoptera','Trichoptera (Caddisflies)':'Trichoptera',
'Diptera (True Flies)':'Diptera','Flies (Diptera)':'Diptera'}
order_list = []
for i in df.order:
    order_list.append(order_dict[i])
df.order = order_list

In [25]:
df.order.unique()

array(['Plecoptera', 'Trichoptera', 'Diptera', 'Ephemeroptera'], dtype=object)

In [29]:
df.head()

,file_name,file_path,ready,back_view,side_view,ruler,hand_nature,m_adult,contrast,noisy_background,partial,order,family
0,photo_98089.jpg,../data/bug_guide/plecoptera/photo_98089.jpg,1,0,0,0,0,0,0,0,0,Plecoptera,Winter Stoneflies (Taeniopterygidae)
1,photo_255771.jpg,../data/bug_guide/plecoptera/photo_255771.jpg,1,0,0,0,0,0,0,0,0,Plecoptera,Winter Stoneflies (Taeniopterygidae)
2,photo_255991.jpg,../data/bug_guide/plecoptera/photo_255991.jpg,0,0,0,0,0,0,0,1,0,Plecoptera,Winter Stoneflies (Taeniopterygidae)
3,photo_258045.jpg,../data/bug_guide/plecoptera/photo_258045.jpg,1,0,0,0,0,0,0,0,0,Plecoptera,Small Winter Stoneflies (Capniidae)
4,photo_654326.jpg,../data/bug_guide/plecoptera/photo_654326.jpg,0,0,0,0,1,0,0,1,0,Plecoptera,Spring Stoneflies (Nemouridae)

In [30]:
x = df.file_name
y = df.order

In [31]:
xtrain_val,xtest,ytrain_val,ytest = train_test_split(x,y,test_size = .1,random_state=77)

In [32]:
xtrain_val.head()

1334    photo_916683.jpg
2487     picture1371.jpg
3732     picture4481.jpg
5557     picture4337.jpg
4588     picture2802.jpg
Name: file_name, dtype: object

In [33]:
xtrain,xval,ytrain,yval = train_test_split(xtrain_val,ytrain_val,random_state = 42)

In [35]:
with open('../data/train/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xtrain,ytrain):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/train/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [36]:
with open('../data/validation/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xval,yval):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/validation/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [37]:
with open('../data/test/xy.txt','w') as f:
    f.write('file_name,order\n')
    for x,y in zip(xtest,ytest):
        s = '../data/bug_pics/{}'.format(x)
        d = '../data/test/{}/{}'.format(y,x)
        shutil.copy(s,d)
        f.write(x+','+y+'\n')

In [38]:
df_val = pd.read_csv('../data/validation/xy.txt',sep=',')
df_train = pd.read_csv('../data/train/xy.txt',sep=',')
df_test = pd.read_csv('../data/test/xy.txt',sep=',')

In [39]:
df_val.shape
df_train.shape
df_test.shape

(561, 2)